In [45]:
import pandas as pd
from pybedtools import BedTool

In [46]:
!ls

GM12878.bed  GM12878_nonan.txt	GM12878.tsv  pd_to_bed.ipynb

In [60]:
df = pd.read_csv('GM12878.tsv', sep = '\t')

In [61]:
df = df[~df['E1'].isna()]

In [62]:
df.head()

,chrom,start,end,weight,gene_count,E1,E2,E3,binary,HMM2,HMM3,HMM4,HMM5,HMM6,HMM5_2
8,chr1,800000,900000,0.002718,0.55494,0.844496,0.060095,0.544104,1.0,1.0,2.0,3.0,4.0,5.0,4.0
9,chr1,900000,1000000,0.002325,0.64650,0.887215,0.340817,0.631535,1.0,1.0,2.0,3.0,4.0,5.0,4.0
10,chr1,1000000,1100000,0.002822,0.48778,0.867886,0.255390,0.650505,1.0,1.0,2.0,3.0,4.0,5.0,4.0
11,chr1,1100000,1200000,0.002606,0.69623,0.881066,0.267095,0.614018,1.0,1.0,2.0,3.0,4.0,5.0,4.0
12,chr1,1200000,1300000,0.002530,0.99497,0.799386,0.363481,0.698830,1.0,1.0,2.0,3.0,4.0,5.0,4.0

In [63]:
df= df.drop(labels=['weight', 'gene_count', 'E1', 'E2', 'E3', 'binary', 'HMM2', 'HMM3','HMM4', 'HMM5', 'HMM6'], axis = 1)

In [64]:
df.head()

   chrom    start      end  HMM5_2
8   chr1   800000   900000     4.0
9   chr1   900000  1000000     4.0
10  chr1  1000000  1100000     4.0
11  chr1  1100000  1200000     4.0
12  chr1  1200000  1300000     4.0

In [65]:
df.to_csv('GM12878_nonan.txt', sep = '\t', index=False )

In [33]:
BedTool.from_dataframe(df, outfile='GM12878.bed', header = df.columns )

In [31]:
bed = BedTool('GM12878.bed')

In [32]:
bed.head(5)

chr1	800000	900000	0.002718182789751283	0.55494	0.8444964987598498	0.0600945143290017	0.5441043657222946	1.0	1.0	2.0	3.0	4.0	5.0	4.0
 chr1	900000	1000000	0.002324838900347311	0.6465	0.8872147476319936	0.3408174915838781	0.6315346080459663	1.0	1.0	2.0	3.0	4.0	5.0	4.0
 chr1	1000000	1100000	0.002822364448531321	0.48778	0.8678855038286829	0.2553898637603099	0.6505051853144733	1.0	1.0	2.0	3.0	4.0	5.0	4.0
 chr1	1100000	1200000	0.002606374462381501	0.69623	0.8810661231976994	0.2670952895598344	0.6140178057493773	1.0	1.0	2.0	3.0	4.0	5.0	4.0
 chr1	1200000	1300000	0.0025304126604879266	0.99497	0.7993857743195988	0.3634814305128325	0.6988297685404945	1.0	1.0	2.0	3.0	4.0	5.0	4.0

In [13]:
a = pybedtools.example_bedtool('a.bed')